<!DOCTYPE html>
<html>

	<head>
		<link rel="stylesheet" type="text/css" href="style.css">
		<script src="https://rawgit.com/spencermountain/nlp_compromise/master/client_side/nlp.min.js"> </script>
		<script src="http://code.jquery.com/jquery-latest.js"/></script>
  		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"/></script>
  		<script src="https://rawgit.com/spencermountain/nlp_compromise/master/client_side/nlp.min.js"/></script>
		<script type="text/javascript" src="/js/terms.js"></script>
  		<script type="text/javascript" src="/js/script.js"></script>
  		<script type="text/javascript" src="/js/sketch.js"></script>
  		
  		<script type="text/javascript" src="/js/p5.min.js"></script>
		<script type="text/javascript" src="/js/p5.dom.js"></script>
  		<meta charset="utf-8">
		<title>Tlön</title>

	</head>
	<body>
		<div id="page-title">Tlön</div>
		<div id="docu"> 
			<a href="http://mahsthoseapis.tumblr.com/post/135438842748/tl%C3%B6nizer" target="_blank">Documentation</a>
		</div>
		<div id="outer"> 
			<div class="inner"><button type="button" class="floated" id='geography'>Geography</button></div>
			<div class="inner"><button type="button" class="floated" id='history'>History</button></div>
			<div class="inner"><button type="button" class="floated" id='language'>Language</button></div>
		</div>
		<p></p>
	</body>
</html>